body {
	/* background-color: yellow;
	background-image: url('css.png'), url('Degradat.png');
	background-position: right top, left top;
	background-repeat: no-repeat, no-repeat;
	background-attachment: scroll, fixed; */
	background: url(css.png) no-repeat right top scroll, url(Degradat.png) no-repeat fixed, yellow;
	background-size: auto, cover;
}

h2 {
	background-color: LightBlue;
}

#h21 {
	border: solid 6px;
}

#h22 {
	border: double 6px;
}

#p11, #p12 {
	background-color: rgb(138, 43, 226);
	border-style: dotted;
	border-width: 4px;
}

#p21, #p22 {
	background-color: #ff69b4;
	border-style: dotted;
	border-width: 8px;
	border-bottom: dashed orange 8px;
}

#p22 {
	background-color: #ff69b4;
	border-style: dotted;
	border-width: 5px 10px;
}

#p1 {
	text-align: center;
	border-color: red;
	border-style: dotted solid;
	border-width: 5px 10px;
	border-radius: 25px
}

#p2 {
	text-align: center;
	border-color: blue red green;
	border-style: dotted dashed solid;
	border-width: 5px;
}
