body {
  background-color: #000000;
  font-family: Arial;
  color: #FFFFFF;
}

.center {
  text-align: center;
}

.scaps {
  font-variant: small-caps;
}

.title {
  text-align: center;
  font-variant: small-caps;
}
