#divu {
	margin: 40px 20px;
	border: solid black 1px;
}

#parau {
	margin: inherit;
	border: solid black 1px;
}

#h2u {
	align: center;
	width: 125px;
	border: solid black 1px;
}

#parados {
	margin: 0 20%;
	border: solid black 1px;
}

#divdos {
	padding: 10px 20px 30px;
	border: solid black 1px;
}

#h2dos {
	padding: inherit 30px inherit 20px;
}

#paratres {
	padding: inherit;
}

#paraquatre {
	padding:  0 0 0 10%;
}

#divtres {
	height: 200px;
	width: 400px;
	margin: 50px 20px;
	border: solid black 5px;
	padding: 30px;
}
