html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: #ddd;
  font-family: Roboto, Roboto Mono, Arial, Liberation Sans, sans-serif;
}

/* div { */
  /* border: 0.25em solid red; */
/* } */

img {
  width: 100%;
}

#navtop>div:hover, #navleft>div:hover { background-color: #999; color: #000; }

#navtop, #navleft {
  background-color: #000;
  float: left;
  /* overflow: hidden; */
}

#navtop {
  width: 100%;
  margin: auto;
}

#navtop>div {
  width: 20%;
  float: left;
  /* background-color: inherit; */
  text-align: center;
}

#navleft {
  width: 10%;
  margin: 2% auto auto;
  /* height: 100%; */
  padding-bottom: 25%;
}

#navleft>div {
  width: 100%;
  float: left;
  padding: 0.5em;
  text-align: left;
  box-sizing: border-box;
}

.content {
  float: right;
  width: 80%;
  margin: 2% auto auto auto;
  /* border: solid purple 2px; */
}

.columns {
  float: left;
  text-align: center;
  width: 33%;
  height: 27em;
  border-radius: 10px;
  overflow: hidden;
  border: solid white 2px;
  box-sizing: border-box;
}

.p-columns {
  box-sizing: border-box;
  float: left;
  width: 33%;
  padding: 3%;
  /* overflow: scroll; */
}

#footer {
  box-sizing: border-box;
  background-color: #000;
  text-align: center;
  width: 100%;
  padding: 4rem;
  clear: both;
  display: block;
}

