body {
  font-family: Roboto, Arial, sans-serif;
  background-color: black;
  color: white;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

input[type=text], input[type=mail], input[type=date]{
  margin-left: 40%;
  margin-right: 35%;
}
