body {
  margin: 0;
  /* color: #5578bb */
  color: #57b;
}

main {
  clear: both;
}

#navtop, #search {
  background-color: #57b;
  color: white;
  float: left;
}

#navtop {
  width: 75%;
}

#search {
  margin-left: 2%;
  text-align: center;
  box-sizing: border-box;
  width: 5%;
}

#search:hover {
  animation: morewidth;
  animation-duration: 2s;
  width: 15%
}

#search:hover input {
  visibility: visible;
}

@keyframes morewidth {
  from {width: 5%;}
  to {width: 15%;}
}

.nav-elem {
  float: left;
  text-align: center;
  box-sizing: border-box;
  width: 20%;
  padding: 0.75em;
}

.nav-elem:hover {
  background-color: #a8dbff
}

.srx-elem {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0.75em;
}

.srx-elem:hover {
  background-color: #a8dbff;
}

.hides {
  box-sizing: border-box;
  visibility: hidden;
  display: inline-block;
}

.has-dropdwn:hover>.dropdwn { display: block; }

.dropdwn {
  position: relative;
  display: none;
}

.dropdwn-elem {}
