.divu {
  border: solid 1px red;
  margin: 100px 0 0 20px;
}

.dibu {
  border: solid 1px red;
  margin: 50px 0 50px 30px;
}

.para1 {
  margin-top: inherit;
  margin-left: inherit;
}

.divdos {
  border: solid 1px red;
  margin-top: 100px;
}

.para2 {
  margin-top: inherit;
}
